version: "3.6"
services:
  dockerhost:
    image: qoomon/docker-host
    cap_add: [ 'NET_ADMIN', 'NET_RAW' ]
    restart: on-failure
    environment:
      - PORTS=0:1024,9000,9999,5672

  php:
    build: ./docker/php
    volumes:
      - ./:/var/www/analytics/scraper

  composer:
    build: ./docker/composer
    command: install
    volumes:
      - .:/app

  phpunit:
    build: ./docker/php
    command: vendor/bin/phpunit
    volumes:
      - .:/var/www/analytics/scraper
    working_dir: /var/www/analytics/scraper